```
Last modified: 2021/08/15, @haewoon
```

## Lab #2: Synsets in ImageNet
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/haewoon/lab-imagenet-synsets/blob/master/Lab%20-%20ImageNet%20Synsets.ipynb)

## Download unsafe synsets and safe synsets from image-net.org

In [2]:
import requests

In [3]:
url = 'https://image-net.org/filtering-and-balancing/unsafe_synsets.txt'
r = requests.get(url, allow_redirects=True)

with open('unsafe_synsets.txt', 'w') as fo:
    fo.write(r.text)

In [4]:
url = 'https://image-net.org/filtering-and-balancing/safe_synsets.txt'
r = requests.get(url, allow_redirects=True)

with open('safe_synsets.txt', 'w') as fo:
    fo.write(r.text)

In [5]:
!wc -l unsafe_synsets.txt

1593 unsafe_synsets.txt

In [6]:
!wc -l safe_synsets.txt

1239 safe_synsets.txt

Downloaded *_synsets.txt files contain only synset IDs.

In [7]:
!head unsafe_synsets.txt

n10252354
n10178216
n10113583
n09632274
n10665587
n09743487
n10274815
n09685233
n10355806
n09793946

## Make synset IDs to human-readable

In [10]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [22]:
from nltk.corpus import wordnet as wn

def make_human_readable(filename):
  with open(filename) as fi, open(f'hr_{filename[:-4]}.csv', 'w') as fo:
    fo.write('synsetID,hr_form\n')
    for line in fi:
      fo.write(f'{line.strip()}, {wn.synset_from_pos_and_offset(line[0], int(line[1:]))}\n')

make_human_readable('safe_synsets.txt')
make_human_readable('unsafe_synsets.txt')

In [23]:
import pandas as pd

In [26]:
df_unsafe = pd.read_csv('hr_unsafe_synsets.csv')
df_unsafe.head(n=20)

     synsetID                           hr_form
0   n10252354             Synset('lector.n.01')
1   n10178216             Synset('hitter.n.02')
2   n10113583          Synset('front_man.n.01')
3   n09632274   Synset('unskilled_person.n.01')
4   n10665587               Synset('stud.n.01')
5   n09743487             Synset('mainer.n.01')
6   n10274815      Synset('lowerclassman.n.01')
7   n09685233       Synset('hare_krishna.n.01')
8   n10355806         Synset('new_dealer.n.01')
9   n09793946             Synset('angler.n.02')
10  n10554846            Synset('scalper.n.01')
11  n10607478           Synset('skinhead.n.01')
12  n09863749          Synset('bolshevik.n.01')
13  n10228712            Synset('kachina.n.01')
14  n09695514           Synset('bruneian.n.01')
15  n10726031       Synset('transvestite.n.01')
16  n10131151        Synset('girl_wonder.n.01')
17  n09797998            Synset('ape-man.n.02')
18  n09730204       Synset('scandinavian.n.01')
19  n10485883      Synset('protectionist.n.01')